
@{
    ViewData["Title"] = "Política de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<div class="contenedor-privacidad">
    <p><strong>Última actualización:</strong> 5 de junio de 2026</p>

    <p>En <strong>Citas App</strong>, respetamos su privacidad y estamos comprometidos a proteger los datos personales que se gestionan a través de nuestra plataforma. Esta política explica cómo recopilamos, utilizamos y protegemos la información.</p>

    <hr style="border-color: var(--azul-pastel); margin: 20px 0;" />

    <h3 style="color: var(--azul-principal);">1. Información que recopilamos</h3>
    <p>Para el correcto funcionamiento del sistema de gestión de citas médicas, recopilamos los siguientes datos:</p>
    <ul>
        <li><strong>De los pacientes:</strong> Nombre completo, dirección de correo electrónico y número de teléfono.</li>
        <li><strong>De los médicos:</strong> Nombre completo, especialidad y número de licencia médica.</li>
        <li><strong>De las citas:</strong> Fechas, horarios, motivos de consulta y estado de la cita.</li>
    </ul>

    <h3 style="color: var(--azul-principal); margin-top: 25px;">2. Uso de la información</h3>
    <p>La información ingresada en el sistema se utiliza exclusivamente para fines de demostración académica y gestión de la agenda. Los datos permiten vincular a los pacientes con los médicos correspondientes y mantener un registro ordenado del estado de las consultas.</p>

    <h3 style="color: var(--azul-principal); margin-top: 25px;">3. Protección y Almacenamiento de Datos</h3>
    <p>Al ser un proyecto de desarrollo de software universitario,los datos recopilados se almacenan localmente en archivos de formato JSON con fines de prueba y evaluación técnica. No compartimos, vendemos ni distribuimos esta información a terceros ni a bases de datos externas.</p>

    <h3 style="color: var(--azul-principal); margin-top: 25px;">4. Contacto</h3>
    <p>Si tiene alguna duda sobre esta política o el manejo de la información dentro del sistema, puedes comunicarte directamente al siguiente enlace: <a href="https://github.com/astritcetzal" target="_blank"><img src="~/images/github-original.svg" class="skill-icon" alt="GitHub"></a></p>
    
</div>





