@model Citas_App.Models.Paciente

<div class="contenedos-formulario">
    <h1>Agregar paciente</h1>
    <form asp-action="Agregar" method="post" enctype="multipart/form-data">
        
        <div class="paciente-input">
            <label>Nombre</label>
            <input asp-for="Nombre" />
        </div>
        <div class="paciente-input">
            <label>Apellido</label>
            <input asp-for="Apellido" />
        </div>
        <div class="paciente-input">
            <label>Email</label>
            <input asp-for="Email" />
        </div>
        <div class="paciente-input">
            <label>Telefono</label>
            <input asp-for="Telefono"/>
        </div>
        <button type="submit" class="btn-guardar">Guardar</button>

    </form>

    <hr />
    <a asp-action="Index" class="link-cancelar">&larr; Cancelar</a>

</div>